/alkitab-branding/build/
/alkitab-branding/nbproject/private/
/alkitab-core/build/
/alkitab-core/nbproject/private/
/alkitab-localization/build/
/alkitab-localization/nbproject/private/
/alkitab-suite/build/
/alkitab-suite/nbproject/private/
/alkitab-suite/dist/
/alkitab-userguide/build/
/alkitab-userguide/nbproject/private/
/jsword/build/
/jsword/nbproject/private/
/swingfx/build/
/swingfx/nbproject/private/
/javafx/build/
/javafx/nbproject/private/
/javafx/release/**